body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  color: #ffffff;
  background-image: url("./images/cosmos.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.navbar__nasa-heading {
  font-family: "Rozha One", serif;
  font-size: 45px;
}

.app-descr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.app-descr > * {
  margin-bottom: 20px;
}

.btn {
  padding: 15px 25px;
  background-color: #1b56bd;
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
}

.btn-go {
  outline: none;
  border: none;
  background-color: #1b56bd;
  color: #ffffff;
  padding: 15px 25px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
}

.main-generator__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
}

.main-generator__block h3 {
  text-align: center;
}

.date-selection {
  display: flex;
  padding: 20px 0 30px;
  align-items: flex-end;
  justify-content: space-between;
  width: 350px;
}

.date-selection__select {
  display: flex;
  flex-direction: column;
}

.date-selection__select label {
  margin-bottom: 5px;
}

.date-selection__select select {
  padding: 5px 10px 5px 5px;
  max-height: 50px;
}

.image-generated {
  max-width: 700px;
}

.footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer > * {
  text-decoration: none;
  color: #757575;
}

.alert-for-time {
  text-align: center;
  padding-bottom: 10px;
  color: #8a8a8a;
}

.description-for-image {
  max-width: 700px;
  padding: 20px 0;
}

.go-home-block {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 750px) {
  .navbar {
    padding: 0;
  }

  .navbar h1 {
    text-align: center;
  }

  .app-descr h2 {
    text-align: center;
  }

  .main-generator__block,
  .go-home-block {
    padding: 10px 15px;
  }

  .image-generated {
    width: 100%;
  }

  .go-home-block {
    width: 100%;
  }
}
